<table>
    <colgroup>
        <col span="8">
        <col span="6">
        <col span="3">
        <col span="3">
    </colgroup>
    <thead>
        <tr>
            <td class="table-name">Name</td>
            <td class="table-area">Area</td>
            <td class="table-distance">Distance</td>
            <td class="table-elevation">Elev. Gain</td>
        </tr>
    </thead>
    <tbody>        
        {{#each hikes}}
            <tr>
                <td><a href="#/hike/{{id}}">{{title}}</a></td>
                <td>{{area}}</td>
                <td>{{distance}} mi</td>
                <td>{{elevationGain}} ft</td>
            </tr>
        {{/each}}
        {{#unless hikes.length}}
            <tr class="empty-row">
                <td colspan="20">Sorry, no hikes found.</td>
            </tr>
        {{/unless}}
    </tbody>
</table>